body {
  background: lightgreen;
  background-image:
    radial-gradient(white 20%, transparent 0), 
    radial-gradient(white 20%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

h1 {
  font-family: helvetica;
  color: white;
  text-shadow: 1px 1.5px #555;
}
