body {
 background: url(purple.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: auto; 
    margin-right: auto; 
    max-width: 700px; 
}
 
h1 {
  color: #f4f8ff;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 48px; 
  border: 5px solid #ffffff;
  background:
    background: #d8a5ef; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#d8a5ef, #6d1f91); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#d8a5ef, #6d1f91); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d8a5ef, #6d1f91); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d8a5ef, #6d1f91); /* Standard syntax */
}
  
h2, h3, h4, h5, h6 {
  color: #f4f8ff; 
  text-align: center; 
  font-family: 'Dancing Script', cursive;
  font-size: 36px; 
}


  table, td, th {    
    border: 4px solid #f8eaff;
    text-align: center;
    background: 
    background: #d8a5ef; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#d8a5ef, #6d1f91); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#d8a5ef, #6d1f91); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d8a5ef, #6d1f91); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d8a5ef, #6d1f91); /* Standard syntax */
    color: #f8eaff
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
}

p {
    color: #f4f8ff;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    line-heigth: 2.0;
}


ol {
  color: #f4f8ff;
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  text-align: left;
}
    
