body {
 background: url(background11.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: auto; 
    margin-right: auto; 
    max-width: 700px; 
}
 
h1 {
  color: #f4f8ff;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 48px; 
}
  
h2, h3, h4, h5, h6 {
  color: #f4f8ff; 
  text-align: center; 
  font-family: 'Dancing Script', cursive;
  font-size: 36px; 
}

p {
    color: #f4f8ff;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
}

table {
  color: #f4f8ff;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
}

ol {
  color: #f4f8ff;
  font-family: 'Libre Baskerville', serif;
  font-size: 24px;
}
    
.boxed {
  border: 8px solid white;
 background-color: #8b8f96;
}

